{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'tailwind.css' %}">
</head>

<section id="menu" class="new-profile-card absolute z-30 right-0 mx-auto bg-offwhite shadow-lg rounded-sm w-[250px] top-16 hidden">
    <div class="h-[17px] w-[17px] rotate-45 bg-offwhite absolute top-[-8px] right-5">
        <!--
        /\
        __
        -->
    </div>
    <section>
        <article class="mt-8 my-8 px-8">
            <h2 class="text-lightblue text-lg">Welcome {{ request.user.username|capfirst }}!</h2>
        </article>
        {% include 'components/divider-black.html' %}
        <!-- write -->
        <article class="my-4 px-8">
            <div class="flex gap-2 items-center">
                <a href="" class="self-start"><img src="/static/icons/write.svg" alt=""></a>
                <p class="text-lightgray text-base"><a href="" class="self-start">Write</a></p>
            </div>
        </article>

        <section>
            <!-- profile-->
            <!--<article class="my-4 px-8">
                <div class="flex gap-2 items-center">
                    <a href="" class="self-start"><img src="/static/icons/profile.svg" alt=""></a>
                    <a href=""><p class="text-lightgray text-base">Profile</p></a>
                </div>
            </article>-->
            <!-- bookmark -->
            <!--<article class="my-4 px-8">
                <div class="flex gap-2 items-center">
                    <a href="" class="self-start"><img src="/static/icons/bookmark.svg" alt=""></a>
                    <a href=""><p class="text-lightgray text-base">Bookmarks</p></a>
                </div>
            </article>-->
            <!-- stories-->
            <article class="my-4 px-8">
                <div class="flex gap-2 items-center">
                    <a href="" class="self-start"><img src="/static/icons/books.svg" alt=""></a>
                    <a href="/stories"><p class="text-lightgray text-base">Stories</p></a>
                </div>
            </article>
            <!-- Likes -->
            <!--<article class="my-4 px-8">
                <div class="flex gap-2 items-center">
                    <a href="" class="self-start"><img src="/static/icons/like.svg" alt=""></a>
                    <a href=""><p class="text-lightgray text-base">Likes</p></a>
                </div>
            </article>-->
        </section>
        {% include 'components/divider-black.html' %}
        <article class="mt-8 my-8 px-8">
            <p class="text-black text-base">Terms of Service</p>
        </article>
        {% include 'components/divider-black.html' %}
        <article class="mt-8 my-8 px-8">
            <p class="text-black text-base my-4"><a href="/about-us">About Us</a></p>
            <p class="text-black text-base my-4 text-lightgray"><a class="text-lightgray" href="/our-story">Our Story</a></p>
            <p class="text-black text-base my-4 text-lightgray"><a class="text-lightgray" href="for-readerrs">For Readers</a></p>
            <p class="text-black text-base my-4 text-lightgray"><a class="text-lightgray" href="/for-writers">For Writers</a></p>
        </article>
        {% include 'components/divider-black.html' %}
        <!-- donate -->
        <article class="my-4 px-8">
            <div class="flex gap-2 items-center">
                <a href=""><img src="/static/icons/donate.svg" alt="" class="self-start"></a>
                <p class="text-lightgray text-base"><a href="/donate">Donate</a></p>
            </div>
        </article>
        {% include 'components/divider-black.html' %}
        <!-- sign out -->
        <article class="my-4 px-8 flex justify-center">
            <a href="/sign_out" class="text-lightblue">Sign out</a>
        </article>
    </section>
</section>