<header class="container mx-auto flex justify-between items-center pt-10 px-5 sm:px-2 md:px-0 md:h-[46px] ">
    <h1 class="text-[30px] logo "><a href="/">StoryAfrika</a></h1>
    <nav>
        <ul class="flex gap-4 items-center ">
            <li class="shrink-0 text-lg"><a href="/our-story">Our story</a></li>
            <li class="shrink-0"><a href="/join_us" class="text-lg">Join Us</a></li>
            <li class="hidden sm:block"><button class="bg-black px-[12px] py-2 rounded-full text-white hover:bg-purple"><a href="/editor">Share Experience</a></button></li>
            <li class="hidden md:block"><button class="bg-lightblue px-[12px] py-2 rounded-full text-white hover:bg-purple"><a href="/stories">Start Reading</a></button></li>
        </ul>
    </nav>
</header>