{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    <link rel="icon" type="image/png" href="/static/images/logo.jpg">
</head>
<body>
    <div class="container">
        <h1>Reset Your Password</h1>
        <p>Enter the email address you use here to receive a password reset link.</p>
        <form id="password-reset-form" method="post" style="padding-inline: 20px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send Reset Link</button>
        </form>
    </div>
</body>
</html>
