{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    <link rel="icon" type="image/png" href="/static/images/logo.jpg">
</head>
<body>
    <div class="container">
        <h1>Set a New Password</h1>
        <form id="new-password-form" method="post" style="padding-inline: 20px;">
            {% csrf_token %}
            <label for="new-password">Set a New Password:</label>
            {{ form.as_p }}
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
